function package_install(){
    echo "Updating and installing packages..."
    yum update -y
    yum install -y aws-cfn-bootstrap wget ec2-instance-connect docker jq
}

function docker_compose_install(){
    # Compose Setup
    sudo mkdir -p /usr/local/lib/docker/cli-plugins/
    sudo ${curl} -SsfL https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64 -o /usr/local/lib/docker/cli-plugins/docker-compose
    sudo chmod +x /usr/local/lib/docker/cli-plugins/docker-compose
}

function docker_setup(){
    echo "Configuring Docker..."
    sudo usermod -a -G docker ec2-user
    # Configure fd limit for ec2 instance and containers
    sudo bash -c 'cat > /etc/security/limits.d/fdlimit.conf' << EOF
*       soft  nofile  65535
*       hard  nofile  65535
EOF
    sudo bash -c 'cat > /etc/sysconfig/docker' << EOF
DAEMON_MAXFILES=65535
OPTIONS="--default-ulimit nofile=65535:65535"
DAEMON_PIDFILE_TIMEOUT=10
EOF
    sudo systemctl enable docker
    sudo systemctl restart docker
}

function retry() {
  RETRIES=15
  while [ $RETRIES -gt 0 ]; do
    set +e
    $@
    RESULT=$?
    set -e
    if [ $RESULT -eq 0 ]; then
      echo "Success"
      return 0
    fi
    echo "Failed"
    sleep 5
    let RETRIES-=1
  done
  echo "Retries exceeded"
  exit 3
}

function extract_key_from_json_input() {
  # Both cert and tls.crt are valid JSON keys for certificates.
  # certificate-manager expects base64-encoded PEM.
  # If the value is a raw PEM string, we encoded it in base64.
  jq -r '
    (if has("key") then .key else ."tls.key" end) as $key |
    if ($key | startswith("-----BEGIN")) then ($key | @base64) else ($key | gsub("\\s+"; "")) end
  '
}

function extract_cert_from_json_input() {
  # Both cert and tls.crt are valid JSON keys for certificates.
  # certificate-manager expects base64-encoded PEM.
  # If the value is a raw PEM string, we encoded it in base64.
  jq -r '
    (if has("cert") then .cert else ."tls.crt" end) as $cert |
    if ($cert | startswith("-----BEGIN")) then ($cert | @base64) else ($cert | gsub("\\s+"; "")) end
  '
}

function get_secret_value() {
  secret_arn="$1"
  role_arn="$2"
  [ -z "$secret_arn" ] && return
  (
    if [ -n "$role_arn" ]; then
      assume_role_result="$(aws sts assume-role --role-arn $role_arn --role-session-name cyral-sidecar)"
      export AWS_ACCESS_KEY_ID=$(echo "$assume_role_result" | jq -r .Credentials.AccessKeyId)
      export AWS_SECRET_ACCESS_KEY=$(echo "$assume_role_result" | jq -r .Credentials.SecretAccessKey)
      export AWS_SESSION_TOKEN=$(echo "$assume_role_result" | jq -r .Credentials.SessionToken)
    fi
    aws --region ${aws_region} secretsmanager get-secret-value --secret-id $secret_arn --query SecretString --output text
  )
}

function get_secret(){
    echo "Fetching Secret..."
    if ! secret=$(aws secretsmanager get-secret-value --secret-id "${secrets_location}" --query SecretString --output text --region "${aws_region}" 2>&1); then
        echo "Unable to fetch secret ${secrets_location}"
        echo "Error: $secret"
        exit 1
    fi
    SIDECAR_CLIENT_ID=$(echo "$secret" | jq -r .clientId)
    SIDECAR_CLIENT_SECRET=$(echo "$secret" | jq -r .clientSecret)
}

function load_certs() {
    echo "Loading certificates..."
    local sidecar_tls_cert_secret_value sidecar_ca_cert_secret_value
    sidecar_tls_cert_secret_value=$(
        get_secret_value "${sidecar_tls_certificate_secret_arn}" "${sidecar_tls_certificate_role_arn}"
    )
    sidecar_ca_cert_secret_value=$(
        get_secret_value "${sidecar_ca_certificate_secret_arn}" "${sidecar_ca_certificate_role_arn}"
    )
    SIDECAR_TLS_KEY=$(echo "$sidecar_tls_cert_secret_value" | extract_key_from_json_input)
    SIDECAR_TLS_CERT=$(echo "$sidecar_tls_cert_secret_value" | extract_cert_from_json_input)
    SIDECAR_CA_KEY=$(echo "$sidecar_ca_cert_secret_value" | extract_key_from_json_input)
    SIDECAR_CA_CERT=$(echo "$sidecar_ca_cert_secret_value" | extract_cert_from_json_input)
}

function load_idp_certs() {
    echo "Loading IDP certificates..."
    SIDECAR_IDP_PUBLIC_CERT="$(echo "$secret" | jq -r .sidecarPublicIdpCertificate)"
    SIDECAR_IDP_PRIVATE_KEY="$(echo "$secret" | jq -r .sidecarPrivateIdpKey)"
}

function fetch_hostname() {
    echo "Fetching public hostname..."
    INSTANCE_ID=$(${curl} -sf -H "X-aws-ec2-metadata-token: $( \
        ${curl} -sf -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600" \
        )" http://169.254.169.254/latest/meta-data/instance-id || echo "$HOSTNAME")
    echo "Setting INSTANCE_ID to '$INSTANCE_ID'"
}

function update_nginx_resolver(){
    export NGINX_RESOLVER=$(cat /etc/resolv.conf | grep nameserver | awk '{print $2}')
    echo "Setting NGINX_RESOLVER to '$NGINX_RESOLVER'..."
}

function get_token () {
    echo "Getting Control Plane Token using port $1..."
    local url_token="https://${controlplane_host}:$1/v1/users/oidc/token"
    token=$(${curl} --no-progress-meter --fail-with-body --request POST "$url_token" -d grant_type=client_credentials -d client_id="$${SIDECAR_CLIENT_ID}" -d client_secret="$${SIDECAR_CLIENT_SECRET}" 2>&1)
    token_error=$(echo $?)
}

function download_sidecar () {
    local access_token url
    echo "Downloading Sidecar Compose File..."
    get_token "443"
    if [[ $token_error -ne 0 ]]; then
        error_443="$token"
        get_token "8000"
        if [[ $token_error -ne 0 ]]; then
            echo "Unable to retrieve token!!"
            echo "Attempt on 443: $error_443"
            echo "Attempt on 8000: $token"        
            return 1
        fi
    fi
    access_token=$(echo "$token" | jq -r .access_token)
    url="https://${controlplane_host}/deploy/docker-compose?TemplateVersion=${sidecar_version}&TemplateType=terraform&LogIntegration=${log_integration}&MetricsIntegration=${metrics_integration}&HCVaultIntegrationID=${hc_vault_integration_id}&WiresEnabled=${repositories_supported}"
    echo "Trying to download the sidecar template from: $url"
    if ! ${curl} -fsS --no-progress-meter -o /home/ec2-user/sidecar.compose.yaml -L "$url" -H "Authorization: Bearer $access_token"; then
        echo "Unable to download compose file for version ${sidecar_version}, please make sure all parameters are correct"
        return 1
    fi
    return 0
}

function registry_login () {
    echo "Container Registry Login..."
    local key=$(echo "$secret" | jq -r 'select(.containerRegistryKey != null) | .containerRegistryKey' | base64 --decode)
    if [[ ${container_registry} == *"aws"* ]]; then
        echo "(login): Logging in to AWS ECR..."
        eval $(aws ecr --no-include-email get-login  --region ${aws_region})
    elif [ -n "$key" ]; then
        echo "(login): Logging in to GCR..."
        echo "$key" | docker login -u ${container_registry_username} --password-stdin https://gcr.io
    else
        echo "(login): Won't log in automatically to any image registry. Image registry set to: ${container_registry}"
    fi
}

# Checks if the specified Docker container is running without restarts within 5 seconds
function containerCheck () {
    CONTAINER_NAME="$1"
    WAIT_TIME=0
    EXPECTED_WAIT_TIME=5
    until [ $WAIT_TIME -eq $EXPECTED_WAIT_TIME ] || [ "$(eval docker inspect "$CONTAINER_NAME" | jq -r -e '.[].RestartCount')" -ne 0 ]; do
        printf "."
        (( WAIT_TIME++ ))
        sleep 1
    done
    echo ""
    [ "$WAIT_TIME" -eq $EXPECTED_WAIT_TIME ]
}

function launch () {
    echo "Starting sidecar..."
    cd /home/ec2-user
    if [[ ${use_single_container} == "true" ]]; then
        SINGLE_CONTAINER_IMAGE=${container_registry}/cyral-sidecar:${sidecar_version}
        retry docker pull -q $SINGLE_CONTAINER_IMAGE
        retry docker run -d --name sidecar --network=host --log-driver=local --log-opt max-size=500m --restart=unless-stopped --env-file .env $SINGLE_CONTAINER_IMAGE
        if ! containerCheck "sidecar"; then
            echo "--> Problem with sidecar! Inspect the logs to diagnose the issue. <--"
        fi
    else
        retry docker compose -f sidecar.compose.yaml pull -q
        retry docker compose -f sidecar.compose.yaml up -d
    fi
}
