
mkdir -p /home/ec2-user/cyral/

# Get the latest sidecar version from the Control Plane if necessary.
IS_DYNAMIC_VERSION="false"
if [ -z "${sidecar_version}"] then
  echo "Sidecar version is unset - version will be dynamically managed."
  IS_DYNAMIC_VERSION="true"
  get_sidecar_version
  if [ $? -ne 0 ]; then
    echo "Error getting sidecar version from Control Plane. Dynamic version support is only enabled for Control Planes >= v4.10"
    exit 1
  fi
fi

echo "Sidecar version: ${SIDECAR_VERSION}"

package_install
docker_setup
docker_compose_install
fetch_hostname
update_nginx_resolver
get_secret
load_certs
load_idp_certs
registry_login
retry download_sidecar

echo "Initializing environment variables..."
cat > /home/ec2-user/.env << EOF
SIDECAR_ID=${sidecar_id}
SIDECAR_VERSION=$SIDECAR_VERSION
IS_DYNAMIC_VERSION=$IS_DYNAMIC_VERSION
IS_RECYCLABLE="true"
CONTROLPLANE_HOST=${controlplane_host}
CONTAINER_REGISTRY=${container_registry}
SECRETS_LOCATION=${secrets_location}
SIDECAR_ENDPOINT=${sidecar_endpoint}
AWS_REGION=${aws_region}
INSTANCE_ID=$INSTANCE_ID
DD_API_KEY=${dd_api_key}
LOG_GROUP_NAME=${log_group_name}

LOG_INTEGRATION=${log_integration}
METRICS_INTEGRATION=${metrics_integration}
TLS_SKIP_VERIFY=${tls_skip_verify}

NGINX_RESOLVER=$NGINX_RESOLVER
SSO_LOGIN_URL=${idp_sso_login_url}
IDP_CERTIFICATE=${replace(idp_certificate, "\n", "\\n")}

SIDECAR_IDP_PUBLIC_CERT=$SIDECAR_IDP_PUBLIC_CERT
SIDECAR_IDP_PRIVATE_KEY=$SIDECAR_IDP_PRIVATE_KEY

HCVAULT_INTEGRATION_ID=${hc_vault_integration_id}

LOAD_BALANCER_TLS_PORTS=${load_balancer_tls_ports}

CYRAL_CERTIFICATE_MANAGER_TLS_KEY=$${SIDECAR_TLS_KEY}
CYRAL_CERTIFICATE_MANAGER_TLS_CERT=$${SIDECAR_TLS_CERT}
CYRAL_CERTIFICATE_MANAGER_CA_KEY=$${SIDECAR_CA_KEY}
CYRAL_CERTIFICATE_MANAGER_CA_CERT=$${SIDECAR_CA_CERT}

SIDECAR_CLIENT_ID=$${SIDECAR_CLIENT_ID}
SIDECAR_CLIENT_SECRET=$${SIDECAR_CLIENT_SECRET}
EOF
