function login () {
  if [[ ${container_registry} == *".amazonaws.com"* ]]; then
    echo "(login): Logging in to AWS ECR..."
    eval $(aws ecr --no-include-email get-login  --region ${aws_region})
  elif [ -s /home/ec2-user/cyral/container_registry_key.json ]; then
      echo "(login): Logging in to GCR..."
      cat /home/ec2-user/cyral/container_registry_key.json | docker login -u ${container_registry_username} --password-stdin https://gcr.io
  else
      echo "(login): Won't log in automatically to any image registry. Image registry set to: ${container_registry}"
  fi
}

mkdir -p /home/ec2-user/cyral/conf.d
chown -R 65534 /home/ec2-user/cyral

function launch () { cd /home/ec2-user && docker-compose -f sidecar.compose.yaml up -d; }
retry login
retry launch
